{% load static %}
{# <link rel='stylesheet' type='text/css' href='{% static "home.css" %}'>#}
{# 識別子を加えたパターン #}
<link rel='stylesheet' type='text/css' href='{% static "download/home.css" %}'>
<h1>{{name | upper }}</h1>
<h1>{{page_url | urlize }}</h1>
<p>BMI: {{bmi | floatformat:2}}</p>
<p>給料: {{salary | default:'秘密'}}</p>
<p>給料: {{fruits | random | lower}}</p>
<p>給料: {{fruits | join:', '}}</p>
<p>{{ msg | linebreaks}}</p>
<p>{{ msg2 | truncatechars:7}}</p>


{% filter upper %}
<p>aaa</p>
<h1>bbb</h1>
{% endfilter %}

{%% filter lower %%}

{% comment %} <a href='{% url "template_app:home" %}'>home</a> {% endcomment %}

{% comment %} <a href='{% url "template_app:home" first_name="Saburo" last_name="Konishi" %}'>home</a> {% endcomment %}

{# <img src="{% static 'sample.jpg' %}"> #}
{# 識別子を加えたパターン #}
<img src="{% static 'download/sample.jpg' %}">