<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    {% load static %}
    {% comment %} <link rel='stilesheet' href='{% static "css/sytle.css" %}'> {% endcomment %}
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      {% if form.errors %}
      
        {% for key, value in form.erros.items %}
          <p>{{key}}: {{value.as_text}}</p>
        {% endfor %}
      {% endif %}
      {{ form.name.label }}: {{ form.name }}
      {% if form.name.errors %}
        <div style='color:red;'>{{ form.name.errors.as_text}}</div>
      {% endif %}
      {{ form.title.label }}: {{ form.title }}
      {% if form.title.errors %}
        <div style='color:red;'>{{ form.title.errors.as_text}}</div>
      {% endif %}
      {{ form.memo.label }}: {{ form.memo }}
      {% if form.memo.errors %}
        <div style='color:red;'>{{ form.memo.errors.as_text}}</div>
      {% endif %}
      {% comment %} <table>
        {{form.as_table}}
      </table> {% endcomment %}
      <input type="submit" value="送信" />
    </form>
  </body>
</html>
